@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #23272a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}
